*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 60.25%;
}
body{
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.5;
  font-size: 1.6rem;
}
.container{
  max-width: 140rem;
  width: 80%;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: #444;
}
.header{
  height: 6rem;
  padding: 1rem 0;
  background-color: #F0F4F7;
  border-bottom: 1px solid #ccc;
}
.logo{
  font-size: 3rem;
  font-weight: 500;
}
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  list-style: none;
}
.items:not(:last-child){
  margin-right: 2rem;
}
.links{
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.75rem 0.90rem;
  color: #777;
  transition: color .4s ease;
}
.links:hover{
  color: #222;
}
.right-menu{
  font-size: 1.4rem;
}
.right-menu a:not(:last-child){
  margin-right: 2rem;
}
.contact, .sign-in{
  font-weight: 300;
  font-size: 1.4rem;
  transition: color .4s ease;
}
.contact:hover,
.sign-in:hover{
  color: #222;
}
.dwn{
  border: 1px solid #FF3E00;
  border-radius: 2px;
  padding: .7rem .9rem;
  transition: all .4s ease;
}
.dwn:hover{
  background-color: #FF3E00;
  color: #fff;
}
.show-case{
  height: calc(100vh - 6rem);
  background-image: linear-gradient(to right bottom, rgba(6, 49, 131, 0.8), rgba(52, 107, 42, 0.7)), url('../img/bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.inner-showCase{
  color: #fff;
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-40% -35%);
}

.inner-showCase h1{
  margin-bottom: 1.75rem;
  font-size: 3.5rem;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}
.inner-showCase p{
  width: 80%;
  margin-bottom: 4rem;
  line-height: 1.6;
  font-size: 1.7rem;
  font-weight: 300;
  font-style: italic;
}
.book, .cta{
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 400;
  color: #f4f4f4;
  border: 1px solid #FF3E00;
  border-radius: 2px;
  padding: .8rem 1.5rem;
  transition: all .4s ease-in;
}
.book{
  margin-right: 1.5rem;
}
.book:hover, 
.cta:hover{
  background-color: #FF3E00;
}

/* about section */
.about{
  background-color: #F0F4F7;
  color: #333;
  margin-top: 4rem;
}
.about-content h1{
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 400;
}
.about-content p{
  line-height: 1.6;
  background-color: #ddd;
  padding: 2rem;
}
